* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 20px;
}
body {
	background: #fff;
	font-family: 'Open Sans', sans-serif;
}
a {
	text-decoration: none;
}
li {
	list-style-type: none;
}
header {
	height: 5rem;
	background: rgb(44,62,86);
}
.header-inner, .content, footer {
	margin-left: 5rem;
	margin-right: 5rem;
}
header h1 {
	display: inline-block;
	font-size: 2.5rem;
	padding-top: 1.2rem;
	color: rgb(90,169,248);
	font-family: Minion Pro Bold;
}
header span {
	position: absolute;
    top: 1rem;
    left: 15rem;
    font-size: 0.8rem;
    color: #ff5f5f;
	font-family: Open Sans Semibold;
}
header nav {
	display: inline-block;
	float: right;
	margin-top: 2rem;
}
header ul li a {
	color: rgb(255,255,255);
    font-size: 0.7rem;
    margin-top: 6rem;
    padding: 0.5rem 0.250rem 1.6rem 0.250rem;
    font-weight: bold;
}
header ul li a:hover {
	border-bottom: 4px solid rgb(255,232,189);
}
header ul li {
	display: inline-block;
}
.content nav {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}
.content nav a {
	font-size: 0.7rem;
	color: rgb(123,129,139);
}
.content nav a:before {
	content: ' > '
}
.content nav a:first-child:before {
	content: ' '
}
.content nav a:first-child {
	color: rgb(90,169,248);
}
.post .data {
	font-size: 0.7rem;
	color: rgb(123,129,139);
}
.post .picture {
    width: 40%;
    height: 350px;
	background: rgb(255,232,189);
	overflow: hidden;
	margin-right: 2rem;
	float: left;
}
.post p {
	font-size: 0.8rem;
	margin-top: 2.5rem;
}
.firstP {
	margin-top: 0 !important;
}
.post p:last-child {
	width: 70%;
}
footer {
	height: 270px;
	border-top: 1px solid rgb(123,129,139);
	border-bottom: 1px solid rgb(123,129,139);
	clear: both;
	margin-top: 6rem;
}
.logo-footer {
	display: inline-block;
    margin-top: 6.5rem;
    width: 29%;
}
.logo-footer h1 {
	color: rgb(90,169,248);
	font-size: 3rem;
	font-family: Minion Pro Bold;
}
.logo-footer span {
	position: relative;
    bottom: 4rem;
    left: 12rem;
    font-size: 1rem;
    color: #ff5f5f;
	font-family: Open Sans Semibold;
}
.data-box {
	width: 70%;
	margin-top: 1rem;
    color: rgb(44,62,86);
    display: inline-block;
    vertical-align: top;
}
.data-box div {
	display: inline-block;
	width: 30%;
	float: right;
}
.data-box li {
	margin-top: 1rem;
}
.data-box h2 {
	font-size: 1rem;
	color: rgb(44,62,86);
}
.data-box span {
	font-size: 0.5rem;
}
.adress ul li {
	background: url('img/pointer.png') no-repeat 90% 100%;
}
.footer-info span {
	font-size: 0.7rem;
	color: #939fb1;
}
.footer-info {
	margin: 1rem 5rem 1rem 5rem;
}
.footer-info .tatar {
	float: right;
}